*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100%;
}

header, footer{
    background-color: burlywood;
    padding: 0.5em;
    min-height: 10vh;
}

header{
    border-bottom: 2px solid black;
}

header > h1, footer > p{
    color: white;
    text-shadow: 2px 3px 2px grey;
}

nav{
    float: left;
    background-color: #f1f1f1;
    width: 20%;
    z-index: 2;
}

nav > ul{
    list-style-type: none;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    /*padding-top: 1em;*/
}

.link{
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 1.25em 1em;
    border: none;
    text-align: left;
    transition: background-color 0.3s;
}

.link:hover{
    background-color: #aaa;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    min-height: 80vh;
}  

main{
    width: 80%;
    padding: 3em;
}


article{
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

article:active{
    opacity: 1;
    height: auto;
}

figure{
    width: 100%;
    text-align: center;
    margin: 4em 0;
}

#bst-example{
    max-width: 500px;
    width: 100%;
}

#bst-elements{
    max-width: 900px;
    width: 100%;
}

.bst-gif{
    max-width: 300px;
    width: 100%;
}

.bst-delete{
    max-width: 600px;
    width: 100%;
}

.code{
    background-color: #2e2e2e;
    color: lime;
    border-radius: 2rem;
    padding: 2em 0.5em;
    font-size: large;
}

.simulation-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*height: 600px;*/
}

.tree-area{
    background-color: #bbb;
    flex: 4;
}

.form-area{
    flex: 1;
    background-color: #aaa;
}

footer{
    border-top: 2px solid black;
}

.tree-area{
    padding: 0.5em;
}

canvas{
    width: 100%;
    aspect-ratio: 1 / 1;

    /*max-width: 600px;
    max-height: 600px;*/
    background-color: white;
}