*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    min-height: 100%;
    font-size: larger;
    background-color: whitesmoke;
}

header, footer{
    background-color: darkgreen;
    padding: 0;
    min-height: 10vh;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid black;
}

header > h1, footer > p{
    color: white;
    text-shadow: 2px 3px 2px grey;
}

header > h1{
    display: inline-block;
    margin-left: 1em;
}

#menu-icon{
    color: white;
}

#menu-icon:active{
    background-color: transparent;
}

#menu-icon > div {
    width: 35px;
    height: 5px;
    background-color: white;
}

#menu-icon:hover{
    cursor: pointer;
}

#menu-icon > div:not(:last-child){
    margin-bottom: 6px;
}


nav{
    float: left;
    background-color: #ddd;
    width: 20%;
    z-index: 2;
    flex: 1;
}

nav > ul{
    list-style-type: none;
    position: sticky;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

.link{
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 1.25em 1em;
    border: none;
    text-align: left;
    transition: background-color 0.3s;
    background-color: #ddd;
}

.link:hover{
    background-color: #aaa;
    cursor: pointer;
}

.flex {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    min-height: 80vh;
}  

main{
    flex: 5;
    padding: 3em;
}

article > h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2em;
}

article{
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

article:active{
    opacity: 1;
    height: auto;
}

figure{
    width: 100%;
    text-align: center;
    margin: 4em 0;
}

#bst-example{
    max-width: 500px;
    width: 100%;
}

#bst-elements{
    max-width: 900px;
    width: 100%;
}

.bst-gif{
    max-width: 400px;
    width: 100%;
}

.bst-delete{
    max-width: 600px;
    width: 100%;
}

.code{
    background-color: #2e2e2e;
    color: lime;
    border-radius: 2rem;
    padding: 2em 0.5em;
    font-size: large;
}

#simulation-area{
    border: 2px solid black;
    margin: 1em auto;
    min-width: 400px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    background-color: #eee;
    flex-direction: row;
    justify-self: start;
}

#tree-area{
    flex: 3;
}

footer{
    border-top: 2px solid black;
}

#tree-area{
    padding: 0.5em;
}

canvas{
    width: 100%;
    aspect-ratio: 1 / 1;

    background-color: white;
}

#empty-tree-info{
    color: darkred;
}

#form-area{
    flex: 1;
    /*background-color: white;*/
    padding: 0.5em;
    /*overflow: scroll;*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-top{
    flex: 1;
    width: 100%;
    margin: 0;
}


input[type=number], select{
    width: 90%;
    padding: 10px;
}

form{
    text-align: center;
    /*padding-bottom: 2em;*/
}

input[type="button"]{
    width: 100%;
    padding: 10px;
    margin: 1em 0;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

input[type=button]:not(.return-button){
    background-color: mediumseagreen;
}

input[type=button]:hover{
    cursor: pointer;
}

input[type=button]:hover:not(.return-button){
    background-color: mediumspringgreen;
}

.return-button{
    margin-bottom: 3em;
    background-color: #444;
}

.return-button:hover{
    background-color: #222;
}


@media screen and (max-width: 710px){
    .flex{
        flex-direction: column;
    }
    nav{
        width: 100%;
        flex: 0;
    }
    .link{
        text-align: center;
    }
}


@media screen and (max-width: 1000px){
    #simulation-area{
        flex-direction: column;
    }

}